[submodule "woodenBucket/BuiltBrokenScripts"]
	path = woodenBucket/BuiltBrokenScripts
	url = https://github.com/BuiltBrokenModding/BuiltBrokenScripts.git
[submodule "woodenRails/BuiltBrokenScripts"]
	path = woodenRails/BuiltBrokenScripts
	url = https://github.com/BuiltBrokenModding/BuiltBrokenScripts.git
[submodule "coloredChests/BuiltBrokenScripts"]
	path = coloredChests/BuiltBrokenScripts
	url = https://github.com/BuiltBrokenModding/BuiltBrokenScripts.git
[submodule "redbull/BuiltBrokenScripts"]
	path = redbull/BuiltBrokenScripts
	url = https://github.com/BuiltBrokenModding/BuiltBrokenScripts.git
[submodule "boneTorch/BuiltBrokenScripts"]
	path = boneTorch/BuiltBrokenScripts
	url = https://github.com/BuiltBrokenModding/BuiltBrokenScripts.git
