/bin
/out
/run
*.classpath
*.project
.settings/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
build/
eclipse/
forge-1.6.4-9.11.1.964-changelog.txt
.gradle/
output/
.cache
*.iml
*.ipr
*.iws
*.idea/
logs/
html/downloads/
downloads/
settings/
*.xml
VoltzEngine.txt
APP-AuthTest/
CompiledWith.txt
woodenBucket/AI-Improvements.txt
coloredChests/Colored-Chests.txt
redbull/Red-Cow.txt
woodenRails/Wooden-Rails.txt
cardboardBoxes/Cardboard-Boxes.txt
threadedGrass/threadedGrass.txt
threadedGrass/threadedGrass.txt
woodenBucket/WoodenBuckets.txt
teleportDoor/telepotDoor.txt
coloredPots/Colored-Pots.txt
woodenShears/WoodenShears.txt
SBM-$(archivebase).txt
boneTorch/BoneTorch.txt
cardboardBoxes/CardBoardBoxes.txt
coloredChests/ColoredChests.txt
coloredChests/debug.log
coloredPots/ColoredPots.txt
redbull/RedCow.txt
teleportDoor/TeleportDoor.txt
woodenRails/WoodenRails.txt